table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #004d99;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  color: #004d99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title_text {
    margin: 5%;
    color : #34495E;
}

legend {
    color:#85929E ;

}




