{% extends 'base.html' %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th >Titre</th>
        <th >Auteur</th>
        <th >Genre</th>
        <th >#</th>
        <th >#</th>
      </tr>
    </thead>
    <tbody>

      {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.genre }}</td>
          <td><a href="{{ url_for('edit', id=book.id) }}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Modifier</a></td>
          <td><a href="{{ url_for('delete', id=book.id) }}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Supprimer</a></td>
        </tr>
      {% endfor %}

    </tbody>

  </table>
  <a href="{{ url_for('add') }}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ajouter un livre</a>
{% endblock %}
