{% extends 'base.html' %}

{% block content %}

  <legend class="text-center">Resultat de recherche pour "{{ query }}"</legend>

  <table class="table table-striped">
    <thead>
      <tr>
        <th >Titre</th>
        <th >Auteur</th>
        <th >Genre</th>
        <th >#</th>
        <th >#</th>
      </tr>
    </thead>
    <tbody>
    {% if books %}
      {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.genre }}</td>
          <td><a href="{{ url_for('edit', id=book.id) }}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Modifier</a></td>
          <td><a href="{{ url_for('delete', id=book.id) }}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Supprimer</a></td>
        </tr>
      {% endfor %}
    {% else %}
    <div class="alert alert-warning">
        Aucun Resultat disponible.
    </div>
    {% endif %}
    </tbody>

  </table>
  <a href="{{ url_for('index') }}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Retour à la librarie</a>
{% endblock %}
